<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sinatra Hello World</title>
  <meta charset='UTF-8' />
  <link rel="stylesheet" href="public/css/bootstrap.css" />
</head>
<body>
	<%= yield %>
</body>
</html>
